
*{word-wrap:break-word;}

html,body{
    background:#eee url('body.gif') center repeat-y;
    padding:0;
    margin:0;
    border:0;
    text-align:center;
    width:100%;
    height:100%;
}

body,td,input,textarea,select,button{
    color:#404040;
    font:14px/1.6em Verdana,Helvetica,Arial,sans-serif;
}

a{
    text-decoration:none;
    color:#4088B8;
}

a:hover{
    text-decoration:underline;
}

#header{
    width:980px;
    height:128px;
    background:url('top.gif') 0 0 no-repeat;
    padding:0;
    margin:0 auto;
    text-align:center;
    border-bottom: 0px solid #D2B176;
}

#up{
    display:none;
}
#logo{
    display:none;
}

#nav{
    height:38px;
    margin:20px 0 0 0;
    padding:0;
    font-size:12px;
    text-align:left;
    background:none;
    float:right;
}

#nav a{
    display:inline-block;
    height:14px;
    line-height:14px;
    margin:0 0 0 6px;
    padding:0 6px 0 0;
    color:#AF8080;
    border-right: 1px solid #8C408C;
    font-weight:bold;
}

#nav a:hover{
    text-decoration:underline;
}
.lan,.msgb{
    border-right:0 !important;
    padding:0 !important;
    margin-right:25px !important;
}
#wrap{
    width:950px;
    background:#fff;
    padding:0 15px 15px 15px;
    margin:0 auto;
    overflow:hidden;
}

#read {
    position:absolute;
    left:1px;
    top:1px;
    width:1px;
    height:1px;
    background: none;
    padding:0px
}

#left{
    float:right;
    width:745px;
    text-align:left;
    padding:0;
    margin:0;
}

#left img{
    border:1px solid #ccc;
    background:#f8f8f8;
    margin:0 15px;
    padding:3px;
    max-width:680px;
    max-height:680px;
   *width:expression(this.width>680&&this.height<this.width?680:true);
   *height:expression(this.height>680&&this.height>this.width?680:true);
}

#right{
    float:left;
    margin:0;
    width:180px;
    text-align:left;
    padding:10px 0 0 0;
    border-top: 4px solid #DADADA;
}

#pers {
    width:160px;
    padding-left:10px;
    font-size:12px;
    line-height:160%;
}

#pers img{
    display:block;
    border: 0px solid #000;
    margin-bottom:6px;
    margin-left:8px;
}

.title{
    display:block;
    padding:0 0 0 8px;
    height:16px;
    line-height:16px;
    border-bottom: 4px solid #DADADA;
    margin:0 0 5px 0;
    width:172px;
    font-weight:bold;
    color:#4088B8;
}
#menu{
    font-size:14px;
    width:100%;
    padding:0;
    margin-top: 20px;
}

#menu a{
    display:block;
    padding:0;
    height:24px;
    line-height:24px;
    margin:0 0 0 20px;
    width:148px;
}

#menu a:hover{
}

#links{
    font-size:14px;
    width:100%;
    padding-top:10px;
    margin-top: 20px;
}

#links a{
    display:block;
    padding:0;
    height:24px;
    line-height:24px;
    margin:0 0 0 20px;
    width:148px;
}

#links a:hover{
}

#styles{
    font-size:14px;
    width:100%;
    padding-top:10px;
    margin-top: 20px;
}

#styles a{
    display:block;
    padding:0;
    height:24px;
    line-height:24px;
    margin:0 0 0 20px;
    width:148px;
}

#styles a:hover{
}
.cur{
    font-weight:bold;
}

#footer{
    font-size:12px;
    width:950px;
    background:none;
    color: #808097;
    font-weight:bold;
    padding:12px 0 0 0;
    height:43px;
    margin:0 auto;
    border-top:4px solid #DADADA;
    text-align:right;
}

#footer p{
    width:100%;
    height:16px;
    line-height:120%;
    margin:0;
    padding:0;
    display:block;
}
#footer a{
    display:none;
}
.wrap{
    width:100%;
    background:none;
    padding:0;
    margin:0;
}

.msg{
    width:645px;
    padding:8px 10px;
    border-top: 1px dashed #999;
}

#main{
    width:100%;
    padding:0;
    margin:0;
}
.line{
    display:none;
}

.pdata{
    margin-top:8px;
    text-align:right;
}
.pdata a{
    font-weight:bold;
}

.left{
    float:right;
}

.right{
    float:right;
}

.mode{
margin-left:30px !important;
}

.mov{
    width:725px;
    border-top: 3px solid #DADADA;
    padding:15px 10px 20px 10px;
    margin:0;
    background:#EFF;
}

.cont, .mou, .intext{
    width:725px;
    border-top: 3px solid #DADADA;
    padding:15px 10px 20px 10px;
    margin:0;
    background:none;
}

.cont p, .mov p, .mou p, .intext p{
    padding:0;
    margin:0 0 18px 0;
    font-weight:bold;
    font-size:16px;
}

.quote{
    display:block;
    width:85%;
    font-size:12px;
    line-height:160%;
    border: 1px solid #ccc;
    padding:8px 10px;
    margin:15px 15px 0px 15px;
    background:#EFF;
}

.about{padding:0 20px;}

#pagenavi {
    margin:0;
    height:30px;
    padding:30px 0 0 10px;
    border-top: 3px solid #DADADA;
}

.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 3px 7px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
        color: #484848;
	border-color: #484848;
}

.wp-pagenavi span.current {
    font-weight: bold;
}
